/365Admin/nbproject/private/
/365/nbproject/private/
/nbproject/private/
/Model/nbproject/private/
/365/build/
/365/dist/
/365Admin/dist/
/365Admin/build/
/dist/
/build/
/Model/build/
/Model/dist/
/365/nbproject/
/nbproject/
/365Admin/nbproject/
/Model/nbproject/
!/nbproject/project.properties
!/365Admin/nbproject/project.properties
!/Model/nbproject/project.properties