/* 
    Document   : index
    Created on : 2012-9-10, 11:27:24
    Author     : wangxiu
    Description:
        Purpose of the stylesheet follows.
*/

.template1 {
    height: 40px;
    width: 100%;
    background-color:    #99ffff;
}
.credit {
    width: 900px;
    height:950px;
}
.credit_top {
    margin-top: 10px;
    padding-top: 10px;
    width: 900px;
    height:25px;
    border: 1px solid #ffcccc;
}
.credit_content {
    margin-left: 60px;
}
.credit_bottom {
    margin-left: 400px;
}
.t1 {
    margin-top: 30px;
}
.t2 {
    margin-top: 100px;
}
.t {
    float: left;
    border: 1px solid #ffcccc;
}